name: Setja upp á GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Sækja kóða
        uses: actions/checkout@v4

      - name: Setja upp GitHub Pages
        uses: actions/configure-pages@v5
        with:
          enablement: true

      - name: Hlaða upp Pages gögnum
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

      - name: Setja upp á Pages
        id: deployment
        uses: actions/deploy-pages@v4
